.header{
    height: 60px;
    display:flex;
    align-items:center;
    background-color: rgb(44, 44, 44);
    color: white;
    border-radius: 10px;
}
.footer{
    height: 60px;
    display:flex;
    align-items:center;
    background-color: rgb(44, 44, 44);
    color: white;
    border-radius: 10px;
}